{% extends 'base.html' %} {% block content %} 
<!-- This card viewer is for anonymous/not logged users -->
<div class="card-container" style="text-align: center; width: 600px;">
	{% for num in loop %}
	<div class="pokemon-container" style="text-align: center; margin: 0px; padding-bottom: 10px; max-width: 200px;" data-slot-index="slot{{num}}" data-pokemon-url="">
		<span class="nickname" style="display: block;">----</span>
		<img
		src="{{url_for('static', filename='images/no-symbol.png')}}"
		alt=""
		class="pokemon-image"
		/>
		<span style="display: block" class="species">No pokemon</span>
		{% include '/cards/pokemon-list-form.html' %}
	</div>
	{% endfor %}
	<small>*note: Pokemon are sorted by national pokedex number, not by regional pokedex. (So Johtoian Raichu and Alolan Raichu will both be under all Gen 2 pokemon, Unovan Zorua and Hisuian Zorua will be under Gen 5 pokemon, etc)</small>
</div>

<div class="user-pokemon-container">
<div style="width: 25%;">{% include '/cards/search-pkmn-form.html' %}</div>
<div class="search-results"></div>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='local-card.js')}}"></script>
{% endblock %}