<div class="card-container" data-user-id="{{user.id}}">
	<!-- data-userpkmn-id="pokemon id goes here" -->
	{% for slot in slotted %} {% if slotted.get(slot) %}
	<div class="pokemon-container">
		{% if slotted.get(slot).nickname %}
		<span style="display: block" class="nickname">{{slotted.get(slot).nickname}}</span>
		{% endif %}
		<img src="{{slotted.get(slot).sprite}}" alt="" class="pokemon-image" />
		<span style="display: block"
		>{{slotted.get(slot).pokemon.species.capitalize()}}</span
		>
		<small style="font-size: 12px;"><b>ID: #{{slotted.get(slot).id}}</b></small>
	</div>
	{% else %}
	<div class="pokemon-container">
		<span class="nickname">(nickname)</span>
		<img
		src="{{url_for('static', filename='images/no-symbol.png')}}"
		alt=""
		class="pokemon-image"
		/>
		<span style="display: block">No pokemon</span>
		<small style="font-size: 12px;"><b>ID: Null</b></small>
	</div>
	{% endif %} {% endfor %}
</div>
