{% extends 'base.html' %} {% block content %}
<div
	class="alert"
	style="
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
		display: none;
	"
	role="alert"
	id="alert-guess-mon"
></div>
<br />
<div
	class="genned-mon"
	style="text-align: center"
	data-genned-id="{{genned.id}}"
	data-user-id="{{user.id}}"
>
	<div style="margin: auto; display: block">
		{% if genned.is_shiny %}
		<p style="display: inline-block">✨</p>
		<img
		src="{{genned.sprite}}"
		alt="Generated Pokemon"
		style="margin: auto; display: inline-block"
		/>
		<p style="display: inline-block">✨</p>
		{% else %}
		<img
		src="{{genned.sprite}}"
		alt="Generated Pokemon"
		style="margin: auto; display: inline-block"
		/>
		{% endif %}
	</div>
	<!-- Comment out this part to hide the pokemon name if you want to challenge yourself -->
	<!-- <h4>{{species}}</h4> -->
	<hr />
	<div
		class="genned-mon-content"
		style="margin-left: auto; margin-right: auto; width: fit-content"
	>
		<form
			action="{{url_for('catch_pokemon', genned_id = genned.id)}}"
			
			method="POST"
			id="guess-pokemon-form"
			style="text-align: center; margin-left: auto; margin-right: auto"
		>
			{{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
			'hidden' %}
			<p>
				{{field.label}}
				<div class="hint-container">
					<button action="#" class="btn btn-warning hint-btn" data-species-name="{{species}}">Show hint?</button>
					<span class="show-hint"></span>
				</div>
				{{field(class="form-control")}}
				<small
					>Hint: Only enter the pokemon's species name (i.e. "Pikachu",
					"Raticate", "Wiglett"). You do not need to add region names (i.e.
					"Alolan Raichu"), "G-max" (where applicable), or "Mega" (where
					applicable).</small
				>
				{% for error in field.errors %} {{error}} {% endfor %}
			</p>
			{% endfor %}
			<button type="submit" class="btn btn-warning">Submit</button>
		</form>
		<br>
		<!-- <form action="{{url_for('reset_pokemon')}}" method="POST" style="text-align: center; margin-left: auto; margin-right: auto">
			<button class="btn">Reset</button>
		</form> -->
	</div>
</div>
<div
	class="redirect"
	style="margin-left: auto; margin-right: auto; width: fit-content"
></div>

{% endblock %}
