form {
	max-width: 75%;
}

nav {
	background-color: #3F3025;
	position: absolute;
	top: 0;
}

body {
	background-color: #f8eeae;
}

span,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #3F3025;
}

.homepage-sections {
	justify-content: center;
	height: 100vh;
	background-image: url("/static/images/pokeball-bg.png");
	background-repeat: repeat;
	background-position: 900px;	
}

.homepage-central {
	height: 100%;
	background-color: hsla(52, 84%, 83%);
	text-align: center;
	margin: 0 auto;
}


.homepage-central a {
	width: fit-content;
	align-self: center;
}

.homepage-sections,
.homepage-central {
	height: 94vh
}
.hint-container {
	margin-bottom: 24px;
}

button.hint {
	display: block;
}

span.show-hint {
	display: none;
	margin-left: 1em;
	font-size: large;
	font-weight: bold;
}

.dropdown-menu-right { 
	right: 0; 
    left: auto; 
}

.alert {
	margin-bottom: 0;
}

.main-img {
	max-width: 300px;
	margin: 0 auto;
	margin-top: 1rem;
}

.profile-pic-container {
	display: flex;
	height: 150px;
	width: 150px;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
}

.profile-pic {
	width:100%;
    height:100%;
    object-position: center;
    object-fit: cover;
}

.user-bio-content {
	display: inline-block;
	max-width: 920px;
	font-size: 1.1rem;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}
.center-div {
	margin-left: auto;
	margin-right: auto;
}

.user-pokemon-container {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.local-card-form-container {
	width: 600px;
}

.space-form {
	padding: 10px;
}

.form-error {
	color: red;
}

.card-container {
	/* sprites are 100 x 100px. each sprite has 20px margin. 3 sprites per row. */
	/* 100 x 3 (each sprite for each row) + 20 x 6 (each sprite has 20 margin per side (left + right)) = 420px width total */
	width: 420px;
}

.user-pokemon-container.edit-card {
	/* "width" by itself didn't work... hmm */
	min-width: 420px;
	max-width: 420px;
	justify-content: center;
	margin: auto;
	margin-left: 0;
	margin-right: 0;
}

.local-card-and-search-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.user-pokemon-container.local-card-form-container {
	width: 600px;
	justify-content: center;
	align-self: flex-start;
	
}
.search-result-container {
	width: 50%;
	/* min-width: ; */
}

.pokemon-search-form {
	min-width: 300px;
}

.search-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	min-width: 350px;
	height: 520px;
	overflow-y:auto;
	background-color: #ebdf95;
}

/* .search {
	min-width: 150px;
} */

.show-editable-pokemon {
	display: flex;
	justify-content: space-around;
	overflow-y:auto;
	background-color: #ebdf95;
	min-width: 300px;
	max-width: 1120px;
	height: 520px;
	padding: 10px;
}


.pokemon-container {
	max-width: 100px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	position: relative;
	flex: 1 0 21%;
}

.fa-star {
	position: absolute;
	right: 0;
	cursor: pointer;
	z-index: 2;
}

.pokemon-image {
	width: 100px;
	height: 100px;
}

.edit-mon {
	font-size: 12px;
	display: block;
	color: #dc3545;
	transition: color;
}

.edit-mon:hover {
	color: #b61d2c;
	transition: color;
}

.in-card {
	font-weight: bold;
}

.pokemon-list-form p{
	margin-bottom: 5px;
}

.pokemon-list-form p select, 
.pokemon-list-form p input {
	max-width: 80%;
}

/* I did this because the DebugToolbar was in the way of the profile tab of the navbar, very annoying */
#flDebug #flDebugToolbarHandle {
	top: 60px !important;
}

#slots-select-container {
	display: flex; 
	flex-direction: row; 
	justify-content: space-evenly; 
	margin-bottom: 50px;
}

@media (min-width: 1025px) {
	.homepage-central {
		max-width: 60rem;
	}
}

@media (min-width: 480px) and (max-width: 1025)  {
	.homepage-central {
		max-width: 30em;
	}
	.local-card-and-search-wrapper {
		flex-direction: column;
	}

}

@media (max-width: 760px) {
	form {
		max-width: 100%;
	}
	#slots-select-container {
		flex-direction: column;
	}
	.show-editable-pokemon {
		width: fit-content;
	}
	.search-result-container {
		width: 100%;
	}
	.user-pokemon-container {
		justify-content: space-around;
		min-width: 300px;
	}
	.user-pokemon-container.edit-card{
		margin: 0 auto;
	}

}

@media (max-width: 575px) {
	form p {
		font-size: larger;
	}
	form input,
	form p input {
		padding: 1rem !important;
		font-size: larger !important;
	}
	
	.dropdown-menu-right {
		max-width: fit-content;
	}
	.navbar {
		position: absolute;
		z-index: 1;
		width: 100%;
		font-size: 1.8rem;
	}
	.dropdown-menu a {
		font-size: 1.5rem;
	}
	.navbar ul li {
		align-self: center;
	}
	.main-content {
		position: relative;
		top: 4rem;
	}
	.homepage-sections,
	.homepage-central {
	height: 93vh
	}

	.btn-sm {
		padding: .5rem 1rem;
		font-size: 1.25rem;
	}
	.user-pokemon-container.edit-card {
		padding-bottom: 2em;
	}
	.show-editable-pokemon .pokemon-container {
		margin-bottom: 2em;
	}
}
