form {
	max-width: 50%;
}

nav {
	background-color: #3F3025;
}

body {
	background-color: #f8eeae;
}

span,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #3F3025;
}

.hint-container {
	margin-bottom: 24px;
}

button.hint {
	display: block;
}

span.show-hint {
	display: none;
	margin-left: 1em;
	font-size: large;
	font-weight: bold;
}

/* .main-content {
	padding: 15px;
} */

.dropdown-menu-right { 
	right: 0; 
    left: auto; 
}

.alert {
	margin-bottom: 0;
}

.main-img {
	max-width: 300px;
	margin: auto; 
	display: block;
}

.profile-pic-container {
	display: flex;
	height: 150px;
	width: 150px;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
}

.profile-pic {
	width:100%;
    height:100%;
    object-position: center;
    object-fit: cover;
}

.user-bio-content {
	display: inline-block;
	max-width: 920px;
	font-size: 1.1rem;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.homepage-sections {
	justify-content: center;
	height: 100vh;
	background-image: url("/static/images/pokeball-bg.png");
	background-repeat: repeat;
	background-position: 900px;	
}

.homepage-central {
	max-width: 1rem;
	min-width: 1000px;
	height: 100%;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	background-color: hsla(52, 84%, 83%);
}

.center-div {
	margin-left: auto;
	margin-right: auto;
}

.user-pokemon-container {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.local-card-form-container {
	width: 600px;
}

.space-form {
	padding: 10px;
}

.form-error {
	color: red;
}

.card-container {
	/* sprites are 100 x 100px. each sprite has 20px margin. 3 sprites per row. */
	/* 100 x 3 (each sprite for each row) + 20 x 6 (each sprite has 20 margin per side (left + right)) = 420px width total */
	width: 420px;
}

.user-pokemon-container.edit-card {
	width: 60%;
	min-width: 420px;
	justify-content: center;
	margin: auto;
	margin-left: 0;
	margin-right: 0;
}


.local-card-and-search-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.user-pokemon-container.local-card-form-container {
	width: 600px;
	justify-content: center;
	align-self: flex-start;
	
}
.search-result-container {
	width: 50%;
	/* min-width: ; */
}

.pokemon-search-form {
	min-width: 300px;
}

.search-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	min-width: 350px;
	height: 520px;
	overflow-y:auto;
	background-color: #ebdf95;
}

/* .search {
	min-width: 150px;
} */

.show-editable-pokemon {
	display: flex;
	justify-content: space-around;
	width: 35%;
	min-width: 300px;
	height: 520px;
	overflow-y:auto;
	background-color: #ebdf95;
	padding: 10px;
}


.pokemon-container {
	max-width: 100px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	position: relative;
}

.fa-star {
	position: absolute;
	right: 0;
	cursor: pointer;
}

.pokemon-image {
	width: 100px;
	height: 100px;
}

.edit-mon {
	font-size: 12px;
	display: block;
	color: #dc3545;
	transition: color;
}

.edit-mon:hover {
	color: #b61d2c;
	transition: color;
}

.in-card {
	font-weight: bold;
}

.pokemon-list-form p{
	margin-bottom: 5px;
}

.pokemon-list-form p select, 
.pokemon-list-form p input {
	max-width: 80%;
}

/* I did this because the DebugToolbar was in the way of the profile tab of the navbar, very annoying */
#flDebug #flDebugToolbarHandle {
	top: 60px !important;
}
