{% extends 'base.html' %} 
{% block title %}Delete User{% endblock %}
{% block content %}
<span style="display: flex; flex-direction: column; text-align: center; justify-content: center; align-content: center;">
    <h1 style="margin: 1em 0em;">WARNING!</h1>
    <br>
    <h3>Are you sure you want to permanently delete this account?</h3>
    <form action="{{url_for('confirm_user_delete', user_id = g.user.id)}}" method="POST"></form>
    <br>
    <button type="submit" class="btn btn-lg btn-danger" style="display:flex; align-self:center;">YES</button>
</span>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='del-user.js')}}"></script>
{% endblock %}