{% extends 'base.html' %} 
{% block title %}{{(user.username).capitalize()}}'s Profile{% endblock %}
{% block content %}
<div style="text-align: center">
	<div class="profile-pic-container" style="margin: 0 auto;">
		<img
			src="{{user.img_url}}"
			alt="User profile picture"
			class="profile-pic"
			style="margin: auto; display: block"
		/>
	</div>
	{% if user.bio != '' %}
	<h1>Bio: </h1>
	<span class="user-bio-content">{{user.bio}}</span>
	{% endif %}
	<hr />
	<h1>{{(user.username).capitalize()}}'s Trainer Card</h1>

	<!-- TRAINER CARD GOES HERE -->
	{% include '/cards/user-card.html'%} 
	{% if g.user and g.user.id == user.id %} 
	<a href="{{url_for('edit_card', user_id = user.id)}}" class="btn btn-warning">Edit Card</a> 
	{% endif %}
	<hr />
	<h2>All {{(user.username).capitalize()}}'s pokemon</h2>
	<div class="user-pokemon-container flex-wrap center-div">
	{% include 'display-pokemon.html' %}
	</div>
</div>
{% endblock %}
